<%- include('./../_partials/header') %>


  <h1>My Recs</h1>
  
<div class="row">
<% lists.forEach(function(list) { %>
      <h4> <%= list.title %></h4> 
      <span>
        <form action="myrecs/<%= list._id %>?_method=DELETE" method="post">
          <button type="submit" class="hollow button alert" onclick="clickAlert()" value="Click-2-Alert" href="#">Delete</button>
        </form>
        <form action="myrecs/update" method="post">
          <button name="id" value="<%= list._id %>" type="submit" class="hollow button secondary" href="#">Add</button>
        </form>
        </span>
  <% list.albums.forEach(function(album) { %>
      <div class= "row">
        <ul>
          <a href=" <%= album.url %>" target="_blank">
            <img class="listimg large-3 columns" src="<%= album.thumb %>" alt="" <%= album.title %>
            <br>
          </a> 
        </ul>
        <br> 
      </div> 

  
     
   <% }) %>
   
<% }) %>

</div>



</body>
</html>