<%- include('./../_partials/header') %>


  <h1>My Recs</h1>
  
<div class="row">
<% lists.forEach(function(list) { %>
      <h4> <%= list.title %></h4> 
      <span>
        <form action="myrecs/<%= list._id %>?_method=DELETE" method="post">
          <button type="submit" class="hollow button alert" onclick="clickAlert()" value="Click-2-Alert" href="#">Delete</button>
        </form>
        <form action="myrecs/update" method="post">
          <button name="id" value="<%= list._id %>" type="submit" class="hollow button secondary" href="#">Add</button>
        </form>
        </span>
      <br>
  <% list.albums.forEach(function(album) { %>
      <ul>
        <li><img class="listimg" src="<%= album.thumb %>" alt=""> <a href=" <%= album.url %>" target="_blank"><%= album.title %></a></p></li>  
      </ul> 

  
     
   <% }) %>
   
<% }) %>

</div>



</body>
</html>